.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: #f4f7fc;
}

.hero{
    text-align: center;
    width: 70%;
}

.hero h1{
    font-size: 42px;
    color: #0d6efd;
}

.hero p{
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

.hero button{
    margin-top: 30px;
    padding: 15px 35px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.hero button:hover{
    background: #084298;
}